#landing {
  /* min-width: 600px; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #111;
  padding-bottom: 64px;
}

#title_name {
  color: white;
  height: 65px;
  width: 27em;
}

#title_name h1 {
  color: #6d6d6d;
  text-transform: uppercase;
  margin-bottom: 11px;
  font-size: 1em;
  letter-spacing: 5px;
}

#fixed_title {
  display: flex;
  align-items: center;
}

#fixed_title h2 {
  font-size: 2em;
}

.title_hline {
  width: 100%;
  height: 1px;
  background: white;
  margin-left: 10px;
}

#text_typewriting {
  display: inline-block;
  vertical-align: middle;
  color: #ffff;
  letter-spacing: 0.15em;
  font-size: 50px;
  text-wrap: nowrap;
}

#cursor {
  display: inline-block;
  vertical-align: middle;
  width: 3px;
  height: 50px;
  background-color: #5b7a88;
  animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #5b7a88;
  }
}

.container_landing {
  height: 100%;
  display: flex;
  align-items: center;
}

#mouse {
  width: 40px;
  height: 70px;
  border: 3px solid #333;
  border-radius: 60px;
  position: relative;
  &::before {
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    border-radius: 50%;
    opacity: 1;
    animation: wheel 2s infinite;
    -webkit-animation: wheel 2s infinite;
  }
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}

@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}

@media (max-width: 720px) {
  #title_name {
    max-width: 70vw;
  }
}