#landing {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #111;
  padding-bottom: 64px;
}

.container_landing {
  height: 100%;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#title_name {
  color: white;
  height: 65px;
  width: 100%;

  h1 {
    color: #6d6d6dc5;
    text-transform: uppercase;
    margin-bottom: 11px;
    font-size: 1.5em;
    letter-spacing: 5px;
    font-weight: 400;
  }
}

#fixed_title {
  display: flex;
  align-items: center;
  height: 75%;

  h2 {
    font-size: 5em;
    font-weight: 400;
  }
}

.title_hline {
  width: 100%;
  height: 5px;
  background: #6d6d6dc5;
  margin-left: 10px;
}

#text_typewriting {
  display: inline-block;
  vertical-align: middle;
  color: #ffff;
  letter-spacing: 0.15em;
  font-size: 5em;
  text-wrap: nowrap;
  height: 7vw;
  font-weight: 400;
}

#cursor {
  display: inline-block;
  vertical-align: middle;
  width: 3px;
  /* height: 5vw; */
  background-color: #5b7a88;
  animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #5b7a88;
  }
}

#mouse {
  width: 40px;
  height: 70px;
  border: 3px solid #333;
  border-radius: 60px;
  position: relative;
  &::before {
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    border-radius: 50%;
    opacity: 1;
    animation: wheel 2s infinite;
    -webkit-animation: wheel 2s infinite;
  }
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}

@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}

@media (max-width: 720px) {
  #title_name {
    max-width: 70vw;
  }

  .container_landing {
    width: 85%;
  }
}

@media (max-width: 840px) {
  #title_name h1 {
    font-size: 14px;
    letter-spacing: 4px;
  }
}

@media (max-width: 1240px) {
  .container_landing {
    font-size: 1.27vw
  }

  .title_hline {
    height: 0.4vw;
  }
}
