.container {
    display: flex;
    align-content: center;
    align-items: center;
    height: 100vh;
    max-width: 80vw;
    margin: 0px auto;
    right: 0;
    left: 0;
}

.swiper img{
    max-width: 100%;
}

/* .swiper div:hover {
    transform: scale(1.2);
} */