@media only screen and (max-width: 720px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }

  .swiper-pagination {
    margin-top: 10px;
    position: relative;
  }
}

@media only screen and (min-width: 720px) {
  .swiper {
    padding: 32px;
  }
}

@media only screen and (max-width: 720px) {
  .swiper {
    padding-top: 12px;
  }
}

.swiper {
  width: 85vw;
  max-width: 100%;
  margin-top: 30px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.swiper-pagination-bullet-active {
  background-color: #718096;
}

.swiper-pagination-bullet {
  background-color: rgb(255, 255, 255);
}

.swiper-button-prev,
.swiper-button-next {
  color: #f3bd8a;
}

.swiper-slide [class^="css"][class$="ta"]:hover {
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  border: 1px solid #ece8df;
  cursor: grab;
}

.swiper-slide [class^="css"][class$="ta"]:active {
  cursor: grabbing;
}

@keyframes scale-up-center {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.02);
  }
}

.swiper-slide [class^="css"][class$="ta"]:not(:hover) {
  animation: scale-down-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes scale-down-center {
  0% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

.swiper-slide [class^="chakra-button"]:hover {
  background: #f3bd8a;
  transition: ease-in-out 500ms;
}
