#projects {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background: #111;
  color: white;
  padding-top: 64px;
}

.container_projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container_projects h5 {
  color: #f3bd8a;
  font-size: 1.25em;
  font-weight: bold;
}

.container_projects h1 {
  color: white;
  font-size: 2em;
  font-weight: bold;
  max-width: 70vw;
}

.container_projects h1 > span {
  color: #0c9078;
}

@media (max-width: 450px) {

}