#about {
  color: white;
  min-height: 100vh;
  display: flex;
  background: #111;
  padding-top: 64px;
}

.container_about,
.container_tech,
.more_about {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_about {
  background: rgba(255, 255, 255, 0.02);
}

.container_tech {
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 25px;
}

.container_tech svg {
  width: 3em;
  height: 3em;
}

.container_tech svg:hover {
  transform: scale(1.07);
}

.description {
  width: 50%;
  max-width: 70%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  font-size: 21px;
  line-height: 27.3px;
}

.description h1 {
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: bold;
}

.description span {
  margin-bottom: 25px;
}

.description li {
  margin-left: 20px;
  list-style: circle;
}

.photo img {
  border-radius: 25px;
}

.description span.highlight_text {
  color: #0c9078;
  font-weight: bold;
}

.btn_more_about {
  text-transform: uppercase;
  font-weight: bold;
  height: 4rem;
  padding: 0 15px 0 15px;
  border: 2.5px solid #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  width: 15em;
  font-size: 16px;
}

.btn_more_about:hover {
  border-color: #0c9078;
  transition: ease-in-out 400ms;
}

.btn_more_about:not(:hover) {
  transition: ease-in-out 400ms;
}

#highlight {
  color: #0c9078;
}

@media (max-width: 960px) {
  .container_about {
    flex-wrap: wrap-reverse;
    padding-top: 32px;
  }
  .description {
    margin-top: 20px;
    padding: 0px 0px 64px 0px;
    width: 60%;
    max-width: 85%;
  }
}

@media (max-width: 720px) {
  .photo img {
    max-width: 55vw;
  }
}

@media (max-width: 450px) {
  .description {
    width: 85%;
    font-size: 18px;
  }

  .container_tech svg {
    width: 1.5em;
    height: 1.5em;
  }
}