* {
  margin: 0;
  padding: 0;
  background: #111;
}

#landing,
#about,
#projects,
#contact {
  height: 100vh;
  width: 100vw;
}

.sidenav {
  height: 100%;
  width: 50px;
  position: fixed;
  top: 70vh;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav a > img {
  width: 1em;
  height: 1em;
}

.sidenav_line {
  width: 1px;
  height: 20vh;
  background: white;
  margin-left: 28px;
}

