* {
  box-sizing: border-box;
  color: white;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 0 24px;
  z-index: 100;
  background: #111;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

.navbar-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.nav-branding {
  font-size: 2rem;
}

.nav-link {
  transition: 0.75 ease;
}

/* .nav-link:hover {
  color: dodgerblue;
} */

.nav-item,
.navbar_logo a {
  padding: 10px;
  text-decoration: none;
  color: white;
  /* margin: 10px; */
  position: relative;
}

.nav-item:after {
  content: "";
  position: absolute;
  margin: 4.5px;
  width: 10px;
  height: 45px;
  transform: rotate(45deg);
  background-color: #111;
}

.nav-item:hover {
  background: #5b7a88;
  transition: ease-in-out 400ms;
}

.nav-item:not(:hover) {
  transition: ease-in-out 400ms;
}

/* #cv_btn {
  background-color: #961f37;
  padding: 8px 22px;
  position: relative;
}

#cv_btn:after {
  content: "";
  position: absolute;
  margin: 10px;
  width: 10px;
  height: 40px;
  transform: rotate(45deg);
  background-color: #111;
}

#cv_btn:hover {
  background: #8e4352;
  transition: ease-in-out 600ms;
} */

#logo_ico {
  width: 40px;
  height: 47px;
  background: rgb(255, 255, 255);
}

#logo_ico:hover {
  background: #5b7a88;
  transition: ease-in-out 800ms;
}

#logo_ico:not(:hover) {
  transition: ease-in-out 800ms;
}

.hamburguer {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

@media (max-width: 720px) {
  .hamburguer {
    display: block;
  }

  .hamburguer.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburguer.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburguer.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navbar-items {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #111;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .navbar-items.active {
    left: 0;
  }
}
