.footer {
  padding: 20px;
  background: #111;
  color: rgba(87, 87, 87, 0.993);
  text-align: center;
  font-size: 13px;
}

.footer span::after {
  content: " | ";
}

.footer span a {
  color: white;
  text-decoration: none;
}
